body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.3125rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.975rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #55b4d4 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2a88a8 !important;
  border-color: #2a88a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a88a8 !important;
  border-color: #2a88a8 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #55b4d4;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2a88a8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff3366;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #db0037 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #534d46 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e0d40a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #879a9f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5c6e73 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #84774a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #55b4d4 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #277e9c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #55b4d4;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #55b4d4;
  border-color: #55b4d4;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #55b4d4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #55b4d4 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #55b4d4;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #55b4d4;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #55b4d4;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #55b4d4;
  border-bottom-color: #55b4d4;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #55b4d4 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2355b4d4' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-u0M77wUDJv .navbar {
  padding: .5rem 0;
  background: #12397c;
  transition: none;
  min-height: 77px;
}
.cid-u0M77wUDJv .navbar-dropdown.bg-color.transparent.opened {
  background: #12397c;
}
.cid-u0M77wUDJv a {
  font-style: normal;
}
.cid-u0M77wUDJv .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-u0M77wUDJv .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-u0M77wUDJv .nav-item:focus,
.cid-u0M77wUDJv .nav-link:focus {
  outline: none;
}
.cid-u0M77wUDJv .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u0M77wUDJv .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-u0M77wUDJv .menu-logo {
  margin-right: auto;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-u0M77wUDJv .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-u0M77wUDJv .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-u0M77wUDJv .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-u0M77wUDJv .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-u0M77wUDJv .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-u0M77wUDJv .dropdown .dropdown-menu {
  background: #12397c;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-u0M77wUDJv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-u0M77wUDJv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u0M77wUDJv .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-u0M77wUDJv .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-u0M77wUDJv .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-u0M77wUDJv .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-u0M77wUDJv .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-u0M77wUDJv .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-u0M77wUDJv .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-u0M77wUDJv .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-u0M77wUDJv .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-u0M77wUDJv button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-u0M77wUDJv button.navbar-toggler:focus {
  outline: none;
}
.cid-u0M77wUDJv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-u0M77wUDJv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-u0M77wUDJv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-u0M77wUDJv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-u0M77wUDJv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-u0M77wUDJv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u0M77wUDJv nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-u0M77wUDJv nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-u0M77wUDJv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u0M77wUDJv .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u0M77wUDJv .collapsed .btn {
  display: -webkit-flex;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse.collapsing,
.cid-u0M77wUDJv .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-u0M77wUDJv .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-u0M77wUDJv .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-u0M77wUDJv .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-u0M77wUDJv .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-u0M77wUDJv .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-u0M77wUDJv .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.3rem);
  }
}
.cid-u0M77wUDJv .collapsed button.navbar-toggler {
  display: block;
}
.cid-u0M77wUDJv .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-u0M77wUDJv .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u0M77wUDJv .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-u0M77wUDJv .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-u0M77wUDJv .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-u0M77wUDJv .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-u0M77wUDJv .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u0M77wUDJv img {
    height: 3.8rem !important;
  }
  .cid-u0M77wUDJv .btn {
    display: -webkit-flex;
  }
  .cid-u0M77wUDJv button.navbar-toggler {
    display: block;
  }
  .cid-u0M77wUDJv .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-u0M77wUDJv .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u0M77wUDJv .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-u0M77wUDJv .navbar-collapse.collapsing,
  .cid-u0M77wUDJv .navbar-collapse.show {
    display: block !important;
  }
  .cid-u0M77wUDJv .navbar-collapse.collapsing .navbar-nav,
  .cid-u0M77wUDJv .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-u0M77wUDJv .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-u0M77wUDJv .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-u0M77wUDJv .navbar-collapse.collapsing .navbar-buttons,
  .cid-u0M77wUDJv .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-u0M77wUDJv .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-u0M77wUDJv .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-u0M77wUDJv .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-u0M77wUDJv .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-u0M77wUDJv .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-u0M77wUDJv .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-u0M77wUDJv .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-u0M77wUDJv .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-u0M77wUDJv .nav-link:hover,
.cid-u0M77wUDJv .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-u0M7xm32bP {
  /* background-image: url("../../../assets/images/imagem1-3.jpg"); */
  background-image: url("../../../assets/images/Bg-FAETI.png");
}

#header1-1{
  padding-bottom: 0px;
  min-height: 0px;
}

#banner-full{
  padding-top: 13rem;
}

/*#banner-full #linha-2{
  margin-bottom: -3rem;
}*/

#banner-full #linha-2 .col-9{
  margin-left: -5rem;
}

@media (max-width: 700px) {
  #header1-1{
    /*max-height: fit-content;*/
    min-height: 70vh;
    padding-top: 18rem;
  }
  #banner-full{
    padding-top: unset;
  }

  #banner-full .col{
    margin-bottom: 2rem;
  }

  #banner-full #linha-1{
    display: contents;
    margin: 0 2rem 0 2rem;
    max-width: 85%;
  }

  #banner-full #linha-1 .col-4 img{
    width: 15rem;
  }

  #banner-full #linha-1 .col-7{
    max-width: 85%;
    padding-right: unset;
  }

  #banner-full #linha-2{
    display: unset;
    /*margin: auto;*/
    text-align: -moz-center;
    text-align: -webkit-center;
  }

  #banner-full #linha-2 img{
    width: 15vh;
  }

  #banner-full #linha-2 .col-9{
    display: none;
  }

  #banner-full #linha-2 .col-9 img{
    display: none;
  }
  
}

.cid-u0TEbJpdSU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u0TEbJpdSU blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-u0MncCf8Lu {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/istock-598156726.jpg");
}
.cid-u0MncCf8Lu .mbr-text {
  text-align: center;
  color: #efefef;
}
.cid-u0MncCf8Lu H2 {
  color: #efefef;
}
.cid-u0MdrElLdG {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-u0MdrElLdG h4 {
  text-align: left;
  font-weight: 500;
}
.cid-u0MdrElLdG p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-u0MdrElLdG .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
}
.cid-u0MdrElLdG .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-u0MdrElLdG .card-box {
  padding-left: 1rem;
  word-break: break-word;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-u0MdrElLdG .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-u0MdrElLdG .card-box {
    padding-left: 0;
  }
}
.cid-u0MdrElLdG .card-title,
.cid-u0MdrElLdG .card-img {
  color: #12397c;
}
.cid-u0MdrElLdG P {
  color: #12397c;
}
.cid-u0Mdywofpn {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u0Mdywofpn h4 {
  text-align: left;
  font-weight: 500;
}
.cid-u0Mdywofpn p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-u0Mdywofpn .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
}
.cid-u0Mdywofpn .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-u0Mdywofpn .card-box {
  padding-left: 1rem;
  word-break: break-word;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-u0Mdywofpn .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-u0Mdywofpn .card-box {
    padding-left: 0;
  }
}
.cid-u0Mdywofpn .card-title,
.cid-u0Mdywofpn .card-img {
  color: #12397c;
}
.cid-u0Mdywofpn P {
  color: #12397c;
}
.cid-u0THZup5cR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-u0THZup5cR .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #55b4d4;
  margin-bottom: 2rem;
}
.cid-u0THZup5cR .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-u0Mcdpk5PK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-u0Mcdpk5PK .mbr-section-subtitle {
  color: #767676;
}
.cid-u0Mcdpk5PK .container-table {
  margin: 0 auto;
}
.cid-u0Mcdpk5PK .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-u0Mcdpk5PK .dataTables_wrapper {
  display: block;
}
.cid-u0Mcdpk5PK .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-u0Mcdpk5PK .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-u0Mcdpk5PK table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-u0Mcdpk5PK table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-u0Mcdpk5PK table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-u0Mcdpk5PK table td {
  border-top: 1px solid #cccccc;
}
.cid-u0Mcdpk5PK table.table {
  background: #ffffff;
}
.cid-u0Mcdpk5PK .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-u0Mcdpk5PK .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-u0Mcdpk5PK .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-u0Mcdpk5PK .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-u0Mcdpk5PK .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-u0Mcdpk5PK .dataTables_filter {
    text-align: center;
  }
  .cid-u0Mcdpk5PK .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-u0Mcdpk5PK .mbr-section-title {
  color: #081e45;
}
.cid-u0Mcdpk5PK .head-item {
  color: #12397c;
}
.cid-u0Mcdpk5PK .body-item {
  color: #12397c;
}
.cid-u0TAlvlEny {
  padding-top: 7rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-u0TAlvlEny .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-u0TAlvlEny .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-u0TAlvlEny .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-u0TAlvlEny .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-u0TAlvlEny .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-u0TAlvlEny .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-u0TAlvlEny .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-u0TAlvlEny .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-u0TAlvlEny .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-u0TAlvlEny .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-u0SWgk9klX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u0SWgk9klX .mbr-section-subtitle {
  color: #767676;
}
.cid-u0SWgk9klX .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-u0SWgk9klX .mbr-text {
  color: #767676;
}
.cid-u0SWgk9klX .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-u0SWgk9klX .mbr-author-name {
  color: #767676;
}
.cid-u0SWgk9klX .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-u0SWgk9klX .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-u0SWgk9klX .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-u0SWgk9klX .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-u0SWgk9klX .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-u0SWgk9klX .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-u0Mg6MeZiP {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-u0TCgGGrNe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u0TCgGGrNe .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #55b4d4;
  margin-bottom: 2rem;
}
.cid-u0TCgGGrNe .card-wrapper {
  padding: 3rem;
  background: #fafafa;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-u0TCgGGrNe .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u0TCgGGrNe .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-u0TCgZDKLS {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-u0TCgZDKLS .google-map {
  height: 30rem;
  position: relative;
}
.cid-u0TCgZDKLS .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-u0TCgZDKLS .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u0TCgZDKLS .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u0TCgZDKLS .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-u0MggfI4NR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
